stages:
- stage: Build
  jobs:
  - job: buildPush
    displayName: Build and push
    steps:

    - task: CmdLine@2
      displayName: Log in to dockerhub
      enabled: true
      inputs:
        script: |
         echo $(DOCKER_ACCESS_TOKEN) | docker login --username $(DOCKER_USERNAME) --password-stdin

    - task: CmdLine@2
      displayName: Build app image
      enabled: true
      inputs:
        script: |
          docker build -t $(DOCKER_USERNAME)/vulnerable-python-demo:latest .

    - task: CmdLine@2
      displayName: Push app image
      enabled: true
      inputs:
        script: |
          docker push $(DOCKER_USERNAME)/vulnerable-python-demo:latest

    - task: CmdLine@2
      displayName: Log out of dockerhub
      enabled: true
      inputs:
        script: |
         docker logout

- stage: Test
  jobs:
  - job: DAST
    displayName: DAST with OWASP ZAP
    steps:

    - task: CmdLine@2
      displayName: Prepare networking
      enabled: true
      inputs:
        script: |
          docker network create --subnet=172.20.0.0/24 demo-network
          
    - task: CmdLine@2
      displayName: Log in to dockerhub
      enabled: true
      inputs:
        script: |
         echo $(DOCKER_ACCESS_TOKEN) | docker login -u $(DOCKER_USERNAME) --password-stdin

    - task: CmdLine@2
      displayName: Run app container from dockerhub
      enabled: true
      inputs:
        script: |
          docker run -d --net demo-network --ip 172.20.0.10 $(DOCKER_USERNAME)/vulnerable-python-demo:latest

    - task: CmdLine@2
      displayName: Log out of dockerhub
      enabled: true
      inputs:
        script: |
         docker logout
    
    - task: CmdLine@2
      enabled: true
      displayName: Run full ZAP scan
      inputs:
        script: |
          docker run --net demo-network owasp/zap2docker-stable:2.11.0 zap-full-scan.py -t http://172.20.0.10:8181